<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
    <div class="service-item bg-light rounded h-100 p-5">
        <div class="service-img rounded-top">
            <img class="img-fluid rounded" src="/<%= service.image %>" alt="<%= service.title %>">
        </div>
        <div class="service-text rounded-bottom text-center p-4">
            <h5 class="mb-3"><%= service.title %></h5>
            <p class="mb-4"><%= service.description %></p>
            <a class="btn btn-sm" href=""><i class="fa fa-plus text-primary me-2"></i>Read More</a>
        </div>
    </div>
</div>